@model IEnumerable<AppUser>
    <a  class="btn btn-primary" asp-controller="Account" asp-action="Create">Create User</a>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th style="width:125px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>
                        <a href="/Users/Edit/@item.Id" class="btn btn-primary btn-sm">Edit</a>
                        <form action="/Users/Delete" method="post" onsubmit="return confirm("Emin misiniz?")" style="display:inline-block;">
                        <input type="hidden" name="id" value="@item.Id">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>