@model ResetPasswordModel
<form asp-action="ConfirmPassword" asp-controller="Account" method="post">

<h2>Parola Sıfırlama</h2>
<input type="hidden" name="token" value="@Model.token">
<label asp-for="Password"></label>
<input asp-for="Password">
<br>
<label asp-for="PasswordCheck"></label>
<input asp-for="PasswordCheck">
<button class="btn btn-primary">Parolayı Kaydet</button>
</form>
