
<h2>Şifremi Unuttum</h2>
<hr>
<form asp-action="ForgotPassword" asp-controller="Account" method="post">
    <div class="mb-3">
        <label for="Email">Email</label>
        <input name="Email" class="form-control">
    </div>
   
 
    <button class="btn btn-primary" type="submit">Gönder</button>
</form>